CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE categories (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT  NOT NULL,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE suppliers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    contact TEXT,
    address TEXT,
    gstin TEXT,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE purchases (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    supplier_id INTEGER NOT NULL,
    invoice_number TEXT,
    purchase_date DATE NOT NULL,
    total_amount REAL DEFAULT 0,
    cgst_total REAL DEFAULT 0,
    sgst_total REAL DEFAULT 0,
    discount REAL DEFAULT 0,
    is_paid INTEGER DEFAULT 0,
    payment_method TEXT,
    rounding_off REAL DEFAULT 0,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (supplier_id) REFERENCES suppliers (id)
  );
CREATE TABLE purchase_items (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    purchase_id INTEGER NOT NULL,
    item_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    unit_price REAL NOT NULL,
    gst_percentage REAL NOT NULL DEFAULT 0,
    cgst_amount REAL NOT NULL DEFAULT 0,
    sgst_amount REAL NOT NULL DEFAULT 0,
    discount REAL DEFAULT 0,
    total_price REAL NOT NULL,
    status_code INTEGER DEFAULT 0,
    FOREIGN KEY (purchase_id) REFERENCES purchases (id),
    FOREIGN KEY (item_id) REFERENCES items (id)
  );
CREATE TABLE sales (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    bill_number TEXT UNIQUE NOT NULL,
    customer_name TEXT,
    customer_contact TEXT,
    customer_address TEXT,
    customer_gstin TEXT,
    salesman_id INTEGER DEFAULT NULL,
    sale_type TEXT DEFAULT 'customer',
    sale_date DATE NOT NULL,
    discount REAL DEFAULT 0,
    total_amount REAL NOT NULL,
    rounding_off REAL DEFAULT 0,
    cgst_total REAL DEFAULT 0,
    sgst_total REAL DEFAULT 0,
    is_paid INTEGER DEFAULT 0,
    
    is_approved INTEGER DEFAULT 0,
    payment_method TEXT,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE sale_items (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    sale_id INTEGER NOT NULL,
    item_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    unit_price REAL NOT NULL,
    gst_percentage REAL NOT NULL DEFAULT 0,
    cgst_amount REAL NOT NULL DEFAULT 0,
    sgst_amount REAL NOT NULL DEFAULT 0,
    total_price REAL NOT NULL,
    sale_type TEXT DEFAULT 'customer',
    customer_rate REAL DEFAULT 0,
    salesman_rate REAL DEFAULT 0,
    status_code INTEGER DEFAULT 0,
    FOREIGN KEY (sale_id) REFERENCES sales (id),
    FOREIGN KEY (item_id) REFERENCES items (id)
  );
CREATE TABLE settings (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    key TEXT UNIQUE NOT NULL,
    value TEXT,
    status_code INTEGER DEFAULT 0,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE units (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT UNIQUE NOT NULL,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE gst_rates (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    rate REAL  NOT NULL,
    description TEXT,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE customer (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    contact TEXT UNIQUE,
    address TEXT,
    gstin TEXT,
    status_code INTEGER DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE salesman (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  contact_info TEXT,
  address TEXT,
  joining_date DATE,
  status_code INTEGER DEFAULT 0,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE license (
    machine_id TEXT PRIMARY KEY,
    activated_on DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE payment_verification (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  sale_id INTEGER DEFAULT NULL,
  purchase_id INTEGER DEFAULT NULL,
  payment_method TEXT NOT NULL CHECK(payment_method IN ('cash', 'upi', 'neft_rtgs', 'cheque')),
  amount REAL NOT NULL,
  payment_date DATE NOT NULL,
  status TEXT DEFAULT 'pending' CHECK(status IN ('pending', 'verified', 'failed')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (sale_id) REFERENCES sales (id),
  FOREIGN KEY (purchase_id) REFERENCES purchases (id)
);
CREATE TABLE payment_upi (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  payment_verification_id INTEGER NOT NULL,
  transaction_id TEXT,
  upi_id TEXT,
  app_name TEXT,
  reference_number TEXT,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (payment_verification_id) REFERENCES payment_verification (id)
);
CREATE TABLE payment_cash (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  payment_verification_id INTEGER NOT NULL,
  denomination_notes TEXT, -- JSON string for different denominations
  received_by TEXT,
  receipt_number TEXT,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (payment_verification_id) REFERENCES payment_verification (id)
);
CREATE TABLE payment_neft_rtgs (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  payment_verification_id INTEGER NOT NULL,
  transaction_reference TEXT,
  sender_bank TEXT,
  sender_account TEXT,
  receiver_bank TEXT,
  receiver_account TEXT,
  transfer_type TEXT CHECK(transfer_type IN ('neft', 'rtgs')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (payment_verification_id) REFERENCES payment_verification (id)
);
CREATE TABLE payment_cheque (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  payment_verification_id INTEGER NOT NULL,
  cheque_number TEXT,
  bank_name TEXT,
  branch_name TEXT,
  cheque_date DATE,
  drawer_name TEXT,
  micr_code TEXT,
  status TEXT DEFAULT 'received' CHECK(status IN ('received', 'deposited', 'cleared', 'bounced')),
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (payment_verification_id) REFERENCES payment_verification (id)
);
CREATE TABLE closing_stock (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  item_id INTEGER,
  closing_date TEXT,
  closing_qty REAL,
  purchase_rate REAL,
  closing_amount REAL,
  FOREIGN KEY(item_id) REFERENCES items(id)
);
CREATE TABLE IF NOT EXISTS "DATA_SALESMAN" (
	"Salesman"	TEXT,
	"Contact"	INTEGER
);
CREATE TABLE IF NOT EXISTS "DATA_ITEM" (
	"sku"	INTEGER,
	"catid"	INTEGER,
	"item"	TEXT,
	"unit"	TEXT,
	"member"	INTEGER,
	"customer"	INTEGER,
	"gst"	INTEGER
);
CREATE TABLE IF NOT EXISTS "FINAL_ITEMS" (
	"sku"	INTEGER,
	"catid"	INTEGER,
	"item"	TEXT,
	"unit"	TEXT,
	"member"	INTEGER,
	"customer"	INTEGER,
	"gst"	INTEGER
);
CREATE TABLE items (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    name TEXT NOT NULL,

    sku TEXT ,

    hsn_code TEXT,

    description TEXT,

    unit TEXT DEFAULT 'pcs',

    mrp REAL DEFAULT 0,

    purchase_rate REAL DEFAULT 0,

    sale_rate REAL DEFAULT 0,

    customer_rate REAL DEFAULT 0,

    salesman_rate REAL DEFAULT 0,

    gst_percentage REAL DEFAULT 0,

    category_id INTEGER DEFAULT NULL,

    current_stock INTEGER DEFAULT 0,

    minimum_stock INTEGER DEFAULT 10,

    last_supplier_id INTEGER DEFAULT NULL,

    last_purchase_date DATETIME DEFAULT NULL,

    status_code INTEGER DEFAULT 0,

    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (category_id) REFERENCES categories (id),

    FOREIGN KEY (last_supplier_id) REFERENCES suppliers (id)

  );
CREATE TABLE bill_message (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    message TEXT NOT NULL,
    status_code INTEGER DEFAULT 0,
    is_print INTEGER DEFAULT 0,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE sale_item_cost_allocation (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  sale_item_id INTEGER NOT NULL,
  purchase_item_id INTEGER NOT NULL,
  quantity_allocated REAL NOT NULL,
  purchase_rate REAL NOT NULL,
  cost_amount REAL NOT NULL,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (sale_item_id) REFERENCES sale_items (id),
  FOREIGN KEY (purchase_item_id) REFERENCES purchase_items (id)
);
CREATE TABLE opening_stock (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    item_id INTEGER NOT NULL,
    financial_year TEXT NOT NULL,
    opening_qty REAL NOT NULL,
    opening_rate REAL NOT NULL,
    opening_amount REAL NOT NULL,
    opening_date DATE NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (item_id) REFERENCES items (id),
    UNIQUE(item_id, financial_year)
  );
CREATE TABLE bank_accounts (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    account_name TEXT NOT NULL ,
    account_number TEXT NOT NULL,
    bank_name TEXT NOT NULL,
    branch_name TEXT,
    ifsc_code TEXT,
    account_type TEXT CHECK(account_type IN ('Savings', 'Current', 'Cash Credit', 'Overdraft')) DEFAULT 'Current',
    opening_balance REAL DEFAULT 0,
   -- opening_balance_type TEXT CHECK(opening_balance_type IN ('Debit', 'Credit')) DEFAULT 'Debit',
    current_balance REAL DEFAULT 0,
    is_active INTEGER DEFAULT 1,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    status_code INTEGER DEFAULT 0
  );
CREATE TABLE bank_transactions (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  voucher_number TEXT NOT NULL ,
  voucher_type TEXT NOT NULL CHECK(voucher_type IN ('Payment', 'Receipt', 'Contra')),
  transaction_date TEXT NOT NULL,
  bank_account_id INTEGER NOT NULL,
  party_name TEXT,
  amount REAL NOT NULL,
  transaction_type TEXT NOT NULL CHECK(transaction_type IN ('Debit', 'Credit')),
  cheque_number TEXT,
  cheque_date TEXT,
  narration TEXT,
  cleared_status TEXT DEFAULT 'Pending' CHECK(cleared_status IN ('Pending', 'Deposited', 'Cleared', 'Bounced', 'Cancelled')),
  cleared_date TEXT,
  reconciled INTEGER DEFAULT 0,
  reconciled_date TEXT,
  created_by TEXT,
  created_at TEXT DEFAULT CURRENT_TIMESTAMP,
  updated_at TEXT DEFAULT CURRENT_TIMESTAMP,
  status_code INTEGER DEFAULT 0,
  FOREIGN KEY (bank_account_id) REFERENCES bank_accounts(id)
);
CREATE TABLE bank_ledger_entries (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    transaction_id INTEGER NOT NULL,
    ledger_type TEXT CHECK(ledger_type IN ('Bank', 'Party', 'Expense', 'Income')) NOT NULL,
    ledger_name TEXT NOT NULL,
    debit_amount REAL DEFAULT 0,
    credit_amount REAL DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (transaction_id) REFERENCES bank_transactions (id) ON DELETE CASCADE
  );
CREATE TABLE bank_reconciliation (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    bank_account_id INTEGER NOT NULL,
    statement_date DATE NOT NULL,
    statement_balance REAL NOT NULL,
    book_balance REAL NOT NULL,
    difference REAL NOT NULL,
    reconciled_by TEXT,
    reconciled_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    notes TEXT,
    FOREIGN KEY (bank_account_id) REFERENCES bank_accounts (id)
  );
CREATE TABLE transaction_categories (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    category_name TEXT NOT NULL ,
    category_type TEXT CHECK(category_type IN ('Expense', 'Income')) NOT NULL,
    description TEXT,
    is_active INTEGER DEFAULT 1,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE post_dated_cheques (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    transaction_id INTEGER NOT NULL,
    cheque_number TEXT NOT NULL,
    cheque_date DATE NOT NULL,
    amount REAL NOT NULL,
    party_name TEXT NOT NULL,
    bank_name TEXT,
    status TEXT CHECK(status IN ('Pending', 'Deposited', 'Cleared', 'Bounced', 'Cancelled')) DEFAULT 'Pending',
    deposit_date DATE,
    cleared_date DATE,
    notes TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (transaction_id) REFERENCES bank_transactions (id)
  );
CREATE INDEX idx_bank_transactions_date ON bank_transactions(transaction_date);
CREATE INDEX idx_bank_transactions_account ON bank_transactions(bank_account_id);
CREATE INDEX idx_bank_transactions_voucher ON bank_transactions(voucher_number);
CREATE INDEX idx_pdc_status ON post_dated_cheques(status);
CREATE INDEX idx_pdc_date ON post_dated_cheques(cheque_date);
CREATE INDEX idx_opening_stock_item_fy 
  ON opening_stock(item_id, financial_year);
